td {
  width: 45px;
  height: 45px;
  text-align: center;
  position: relative;
  font-size: 32px;
}

table {
  background: whitesmoke;
  border-collapse: collapse;
}

tr:nth-child(1n + 2) td:nth-child(1n + 2) {
  border: 1px solid dimgray;
}

tr:nth-child(2n + 3) td:nth-child(even),
tr:nth-child(2n + 2) td:nth-child(2n + 3) {
  background-color: dimgray;
}

.cell-identifier {
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.white-king::before {
  content: "\2654";
}

.white-queen::before {
  content: "\2655";
}

.white-rook::before {
  content: "\2656";
}

.white-knight::before {
  content: "\2658";
}

.white-bishop::before {
  content: "\2657";
}

.white-pawn::before {
  content: "\2659";
}

.black-king::before {
  content: "\265A";
  
}

.black-queen::before {
  content: "\265B";
}

.black-rook::before {
  content: "\265C";
}

.black-knight::before {
  content: "\265E";
}

.black-bishop::before {
  content: "\265D";
}

.black-pawn::before {
  content: "\265F";
}
